.article {
  padding: 80px 0;
  background-color: #F2F2F2;
}

.article__title {
  font-weight: 100;
  font-size: 40px;
  line-height: 64px;
  letter-spacing: -0.714286px;
  color: #2D314D;
}

.article__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.article__item {
  width: 255px;
  background: #FFFFFF;
  border-radius: 5px;
}

.article__img {
  width: 255px;
  height: 200px;
}

.article__case{
  padding: 24px;
}

.article__name {
  font-size: 10px;
  line-height: 18px;
  letter-spacing: -0.15625px;
  color: #9597A5;
}

.article__link {
  display: block;
  text-decoration: none;
  margin: 8px 0;
  font-weight: 100;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.285714px;
  color: #2D314D;
  transition: color 0.3s ease;
  &:hover{
    color: #30C88F;
  }
}

.article__text {
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.203125px;
  color: #9597A5;
  margin: 0;
  padding: 0;
}


@media only screen and (max-width:426px){

  .article__title{
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    letter-spacing: -0.571429px;
  }

  .article__list{
    flex-direction: column;
  }

  .article__item{
    width: 100%;
    max-width: 327px;
  }

  .article__item + .article__item{
    margin-top: 24px;
  }

  .article__img {
    width: 100%;
    max-width: 327px;
    height: 200px;
  }

}