.hero {
  position: relative;
  padding: 280px 0 170px;
  // background-image: url(../images/hero-bg.png);
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: calc(50% + 700px) calc(50%);
  background-color: #F2F2F2;
}

.hero__img{
  position: absolute;
  top: calc(50% - 550px);
  left: calc(50% - 90px);
}

.hero-info {
  width: 447px;
}

.hero-info__title {
  font-weight: 100;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -1px;
  color: #2D314D;
  margin: 0;
  padding: 0;
}

.hero-info__text {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.28125px;
  color: #9597A5;
  margin-top: 24px;
  margin-bottom: 36px;
}

.hero-info__btn{
  padding: 14px 35px;
}


@media only screen and (max-width:426px){

  .hero {
    padding: 322px 0 88px;
    background-image: url(../../images/hero-bg-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: calc(50% + 230px) calc(50% - 260px );
    z-index: 3;
    background-color: #F2F2F2;
  }

  .hero__img{
    display: none;
  }

  .hero-info{
    width: 100%;
    max-width: 370px;
    text-align: center;
  }

  .hero-info__title{
    font-size: 40px;
    line-height: 47px;
    letter-spacing: -0.714286px;
  }

  .hero-info__text{
    font-size: 15px;
    line-height: 25px;
    letter-spacing: -0.234375px;
  }

}
